@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.boomstam {
	width: 50px;
	height: 200px;
	position: relative;
	margin: 10px 20px;
}

.black {
	background-color: black;
}

.red {
	background-color: red;
}

.score {
	position: absolute; right: 0; top: 0; z-index: 99;
}
body {
        overflow: hidden;
        background-image: url(../img/background.svg);
        background-position: center;
				background-attachment: fixed;
        background-repeat: repeat;
        background-size: 20%;
        /* Animation */

        background-image: url(../img/background.svg);
        background-position: 5px 0px;
        background-repeat: repeat-x;

        animation: animatedBackground 1s linear infinite;

}
/*@keyframes animatedBackground {
0% { background-position: 0 0; }
50%{ background-position: 0 10%; }
100%{ background-position: 0 20%; }


}*/


      div .log {
        height: 125px;
        width: 15%;
        float: left;
        margin: 15px 2.5%;
      }

      .target {
        background-image: url(../img/boomstam.svg);
        background-repeat: no-repeat;
        background-position: center;
      }

      .bad {
        background-image: url(../img/rotteboom.svg) !important;
        background-repeat: no-repeat;
        background-position: center;
      }

      .clearfix:after {
         content: " "; /* Older browser do not support empty content */
         visibility: hidden;
         display: block;
         height: 0;
         clear: both;
      }

			html, body, .wrapper{ height: 100%; }
      .log-container {
        width: 100%;
        overflow: hidden;
        height: 100%;
				position: relative;
      }

			.log-container .row{ position: absolute; transform: translate3d(0,0,0); width: 100%;
				animation-name: rowmove;
		    animation-duration: 4s;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
			}

			@keyframes rowmove {
			    from { transform: translate3d(0,0,0); }
			    to { transform: translate3d(0,100vh,0); }
			}

    #user{
    	color:#fff;
    	background-color:blue;
    	width:20%;
    	padding:2%;
			position: absolute;left: 0; top: 0; z-index: 99;

    }

     .gameOverContainer {
          width: 100%;
          height: 100vh;
          background-color:black;
          z-index:998;
          opacity:0.2;
     }

    .gameOver {
      height: 450px;
      width: 600px;
      background-color:#00aaff;
      border-radius: 10px;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      z-index: 999;
      padding:10px;
      box-sizing: border-box;
    }

     .gameOver h1 {
          color:white;
          font-family: 'Fredoka One', cursive;
          text-align: center;
          font-size:40px;
          padding-top:20px;
     }
